@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');

h1{
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 15px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
h2, p, a{
    font-family: 'Quicksand', sans-serif;
    font-weight:lighter;
    color: #fff;    
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}
h2{
    text-decoration: none;    
}
p {
    text-align: center;
}
input{
    color:#596a72;
    letter-spacing:2px;
    width: 100% !important;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}
input:focus{
    box-shadow: 0 0 5px #B0CFE0;
    border:1px solid #B0CFE0;
}
label{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    color: #fff;
}
form{
    border: none;
    width: 600px;
    padding: 30px;
    background: #8c959833;
}

.logo{
    background: center 10px no-repeat url('https://github.com/cleiton1nudo1/ups/blob/master/compaso-white.png?raw=true');
}
.oc{
    background: #45484d;
    background: -moz-linear-gradient(-45deg, #45484d 0%, #000000 100%);
    background: -webkit-linear-gradient(-45deg, #45484d 0%,#000000 100%);
    background: linear-gradient(135deg, #45484d 0%,#000000 100%);
    background-size: cover;
}

.ic:hover {
    background-position-x: 100%;
    background-size: 150px;
}
.fer input{
    background: #f2f5f6;
    background: -moz-linear-gradient(-45deg, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: -webkit-linear-gradient(-45deg, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: linear-gradient(135deg, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
 display:inline-block;
 cursor:pointer;
 color:#596a72;
    letter-spacing:2px;
 font-size:12px;
 padding:12px 60px;
    text-transform: uppercase;
 text-decoration: none;
}
.fer input:hover{
    border: 1px solid #596a72;
    color: #000;
}
